@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  margin: auto;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.color-A163FF {
  color: #a163ff;
}

.color-D07280 {
  color: #d07280;
}

.color-FF8000 {
  color: #ff8000;
}

.container-1440 {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.container-1200 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 640px) {
  .container-1200 {
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.container-1080 {
  max-width: 1080px;
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 640px) {
  .container-1080 {
    max-width: 95%;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.slick-slide > div {
  margin: 0 5px;
}
/* the parent */
.slick-list {
  margin: 0 -5px;
}

.letter {
  opacity: 0.2;
}

.agenda-sep[data-status="complete"] .chakra-step__separator {
  background-color: #a163ff;
}

.text-w-outline {
  color: black;
  text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff,
    1px -1px 0 #fff;
}

.text-w-outline-nav {
  color: white;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000,
    1px -1px 0 #000;
}

footer {
  z-index: -100;
}

.blog-main {
  border: 1px solid #d2d2d2;
}

.blog-body img {
  border-radius: 1rem;
}

.blog-body p {
  text-align: justify;
}

@media screen and (max-width: 640px) {
  .blog-body img {
    border-radius: 0.5rem;
  }
}

.tag {
  border: 0.75px solid #9933ff66;
}

.blog-card {
  border: 1px solid #cccccc;
}
