.box-FF8000 {
  background: repeating-linear-gradient(
    135deg,
    #fff,
    #fff 4%,
    #ff8000 4%,
    #ff8000 8%
  );
}

.box-4E9DFF {
  background: repeating-linear-gradient(
    135deg,
    #fff,
    #fff 4%,
    #4e9dff 4%,
    #4e9dff 8%
  );
}

.box-A163FF {
  background: repeating-linear-gradient(
    135deg,
    #fff,
    #fff 4%,
    #a163ff 4%,
    #a163ff 8%
  );
}

.box-inner {
  transition: opacity 2s ease-in-out;
}

.box-inner:hover {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.color-A163FF {
  color: #a163ff;
}
.color-D07280 {
  color: #d07280;
}
.color-FF8000 {
  color: #ff8000;
}

.color-BBF149 {
  color: #bbf149;
}
.color-B281FE {
  color: #b281fe;
}
.color-4E9DFF {
  color: #4e9dff;
}
.color-F6902A {
  color: #f6902a;
}

.bg-BBF149 {
  background-color: #bbf149;
}
.bg-B281FE {
  background-color: #b281fe;
}
.bg-4E9DFF {
  background-color: #4e9dff;
}
.bg-F6902A {
  background-color: #f6902a;
}

.navbar-community {
  background: linear-gradient(
    137.42deg,
    #df4b26 22.54%,
    #a462f6 106.74%,
    #a163ff 106.74%
  );
}

.marquee--inner {
  display: flex;
  position: absolute;
  animation: marquee 10s alternate-reverse linear infinite;
}

.marquee--inner:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.marquee-rev--inner {
  display: flex;
  position: absolute;
  animation: marquee-rev 10s alternate-reverse linear infinite;
}

.marquee-rev--inner:hover {
  animation-play-state: paused;
}

@keyframes marquee-rev {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

.cc {
  background: radial-gradient(
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 1) 100%
  );
}

.grids:before {
  border-right: 1px solid #fff;
  content: "";
  display: block;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}
.grids:after {
  border-bottom: 1px solid #fff;
  content: "";
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
.child {
  border: 1px solid #000;
  border-width: 0 1px 1px 0;
}

.explore-button:hover .arrow {
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out;
}

@keyframes move-to-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% + min(1200px, calc(100vw - 2rem))));
  }
}

.moving-animation {
  animation: move-to-left 15s alternate linear infinite;
  /* transform: translateX(calc(-100%)); */
  display: inline-flex;
  /* overflow-x: auto; */
  white-space: nowrap;
  width: max-content;
}

.moving-animation:hover {
  animation-play-state: paused;
}
